header>.menu{
    width: 40%;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px;
    background: black;
}
::-webkit-scrollbar-thumb {
    background: #e61414; 
}
::-webkit-scrollbar-thumb:hover {
    background: #e61414; 
}

.hamburger{
    z-index: 22;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    border: 0;
    outline: 0;
    margin: 0 10px;
    position: absolute;
    top: 30px;
    right: 20px;
}
.hamburger-box{
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}
.hamburger-inner::before{
    content: '';
    width: 100%;
    height: 3px;
    background-color: #EEEEEE;
    position: absolute;
    left: 0;
    top: 10px;
    transition: .3s linear;
}
.hamburger-inner{
    width: 100%;
    height: 3px;
    background-color: #EEEEEE;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s linear;
}
.hamburger-inner::after{
    content: '';
    width: 100%;
    height: 3px;
    background-color: #EEEEEE;
    position: absolute;
    left: 0;
    top: -10px;
    transition: .3s linear;
}
.hamburger-active .hamburger-inner{
    background-color: transparent;
}
.hamburger-active .hamburger-inner::before{
    transform: translateY(-10px) rotate(45deg);
    background-color: #EEEEEE;
    transition: .3s linear;
}
.hamburger-active .hamburger-inner::after{
    transform: translateY(10px) rotate(-45deg);
    background-color: #EEEEEE;
    transition: .3s linear;
}
.list-active{
    transform: translateY(150vh);
    transition: all .3s linear;
    overflow: hidden!important;
}
.menu-list{
    z-index: 15;
    position: absolute;
    margin: 0;
    overflow: hidden;
    transition: all .3s linear;
    text-align: center;
    padding: 0;
    top: -150vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #0C0C0C;
}
.menu-list>#menu-logo{
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
}
.active-menu{
    font-size: 90px!important;
    font-weight: bold;
    color: #b3ff01!important;
}
.menu-list>a:first-child{
    padding-top: 20%;
}
.menu-list>a{
    width: 100%;
    text-align: left;
    font-family: "Prompt", sans-serif;
    color: #EEEEEE;
    text-decoration: none;
    font-size: 28px;
    display: inline-block;
    padding: 5px 40px;
}
.menu-list>a:hover{
    color: #b3ff01;
}