/*
font-family: "Prompt", sans-serif;
font-family: "Roboto", sans-serif;
    color: #627254;
    color: #EEEEEE;
*/
body{
    background-color: #0C0C0C;
    padding: 0px 0px;
    overflow-x: hidden;
    font-family: "Prompt", sans-serif;
    margin: 0;
}
.logo{
    position: absolute;
    top: 30px;
    left: 50px;
    z-index: 5;
}
.logo>img{
    width: 150px;
    position: absolute;
    z-index: 5;
}
.text-header{
    width: 100%;
    top: 0;
    position: absolute;
    height: 100vh;
    background-color: rgb(12, 12, 12, 0.7);
    color: #EEEEEE;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.desc-text{
    padding: 40vh 0% 0 0;
    font-size: 60px;
    font-weight: 750;
}
.desc-in{
    font-size: 27px;
    margin: 5px;
    color: #1495ff;
    font-weight: 600;
}
#poznaj{
    margin: 30px;
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
    padding: 8px 25px;
    color: #EEEEEE;
    width: 200px;
    border: 2px solid #EEEEEE;
    position: relative;
    transition: all .2s linear;
}
#poznaj:hover{
    background-color: #1495ff;
    color: #FFF7FC;
    transition: all .2s linear;
    border: 2px solid #1495ff;
}
/* #poznaj::after{
    content: 'Poznaj nas bliżej';
    position: absolute;
    top: 2px;
    padding: 8px 25px;
    font-size: 25px;
    width: 200px;
    left: 5px;
    background-color: #EEEEEE;
    border: 2px solid #EEEEEE;
    color: #0C0C0C;
} */
header{
   width: 100vw;
   height: 100vh;
   background-repeat: no-repeat;
   background-image: url(images/download.png); 
   background-size: cover;
}
.kierunki-h3{
    font-size: 80px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    color: #EEEEEE;
    position: relative;
}
.kierunki-h3::after{
    content: '';
    width: 50px;
    height: 2px;
    background-color: #b3ff01;
    position: absolute;
    bottom: 0;
    left: 0;
    animation-name: long;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes long {
    0%{
        width: 50px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 50px;
    }
}
.kierunki-box{
    width: 100%;
}
.kierunki-box>div{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 20px;
    /* border-bottom: 3px solid #b3ff01; */
    padding: 90px 20px;
}
.kierunki-box>div>i{
    font-size: 120px;
    color: #b3ff01;
}
.kierunki-box>div>div>h4>span{
    color: #b3ff01;
}
.kierunki-box>div>div>h4{
    font-size: 65px;
    color: #EEEEEE;
    margin: 10px;
}
.kierunki-box>div>div>p{
    font-size: 25px;
    margin: 5px 10px;
}
.kierunki-box>div>div>p>span{
    color: #1495ff;
}
.kierunki-box>div>div{
    width: 40%;
    text-align: left;
    margin-left: 50px;
    font-size: 22px;
    color: #EEEEEE;
}
.kierunki-box>div>div>ul>li{
    list-style-type: none;
    margin: 15px 10px;
    position: relative;
}

.kier-p{
    font-size: 30px!important;
    color: #1495ff;
    margin: 30px 0px;
}
.kierunki-box>div>div>ul>li>span{
    width: 35px;
    height: 35px;
    background-color: #8bd64e;
    filter: drop-shadow(2px 2px 0px #000000);
    position: absolute;
    top: 0;
    left: -55px;
}
.pol>li>span{
    width: 35px;
    height: 35px;
    background-color: #1495ff!important;
    filter: drop-shadow(2px 2px 0px #000000);
    position: absolute;
    top: 0;
    left: -55px;
}
/* .kierunki-box>div:hover{
    background-color: rgb(139, 214, 78, 0.1);
    cursor: pointer;
} */
.kier-p2{
    font-size: 30px!important;
    color: #b3ff01;
    margin: 30px 0px;
}
.woj{
    margin-left: 0!important;
    background-image: radial-gradient(rgb(20, 149, 255) 1px, transparent 0);
    background-size: 50px 50px;
    background-position: -19px -19px;
}
.poli{
    margin-left: 0!important;
    background: repeating-linear-gradient(
        45deg,
        #0C0C0C,
        #0C0C0C 50px,
        rgb(139, 214, 78, 0.3) 50px,
        rgb(139, 214, 78, 0.3) 51px
      );
}
.gra{
    margin-left: 0!important;
    background-image: repeating-linear-gradient(90deg, #0C0C0C, #0C0C0C 30px, #141414 30px, #141414 60px);
}
.punkty{
    background-color: rgb(0, 0, 0, 0.6);
}
.kierunki-now{
    margin-top: 70px;
    padding: 100px 0px;
    width: 100vw;
    background-image: radial-gradient(rgb(139, 214, 78, 0.8) 1px, transparent 0);
    background-size: 50px 50px;
    background-position: -19px -19px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kierunki-now>div{
    width: 50%;
    margin:30px;
}
.kierunki-now>div>p{
    font-size: 20px;
    color: #eeeeeeb2;
    width: 80%;
}
.kierunki-now>div>h3{
    font-size: 50px;
    display: inline-block;
    color: #EEEEEE;
    margin-bottom: 10px;
    filter: drop-shadow(5px 5px 0px #000000);
}
.kierunki-now>div>h3>span{
    color: #1495ff;
    font-size: 55px;
}
.kierunki-now>ul{
    width: 30%;
    margin:30px;
    padding: 30px;
    font-size: 25px;
    color: #b3ff01;
    background-color: rgb(0, 0, 0, 0.6);
}
.kierunki-now>ul>li{
    list-style-type: none;
    margin: 20px;
    color: #EEEEEE;
    filter: drop-shadow(5px 5px 0px #000000);
    position: relative;
}
.kierunki-now>ul>li>span{
    width: 35px;
    height: 35px;
    background-color: #8bd64e;
    filter: drop-shadow(2px 2px 0px #000000);
    position: absolute;
    top: 0;
    left: -55px;
}
.sp{
    color: #b3ff01!important;
}
.mediaSocial{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mediaSocial>a{
    text-align: center;
    width: 20%;
    height: 200px;
    color: rgb(255, 247, 252);
    text-decoration: none;
    margin: 5px;
}
.mediaSocial>a:hover{
    color: rgb(179, 255, 1);
    cursor: pointer;
}
.mediaSocial>a>img{
    height: 140px;
    margin: 10px;
}
.mediaSocial>a>i{
    font-size: 7em;
    height: 140px;
    text-align: center;
}
.mediaSocial>a>p{
    margin: 5px;
    font-size: 25px;
}
.social>h4{
    font-size: 3em;
    color: #FFF7FC;
    text-align: left;
    position: relative;
}
.mediaSoc{
    color: #b3ff01;
    filter: drop-shadow(3px 3px 0px #000000);
    border-bottom: 2px solid #b3ff01;
}
.social{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
footer{
    margin-top: 100px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
}
footer>div{
    margin: 20px;
}
footer>div>h3{
    font-size: 25px;
    color: #1495ff;
}
footer>div>div{
    display: flex;
    justify-content: left;
    align-items: center;
    color: #EEEEEE;
}
footer>div>div>i{
    color: #b3ff01;
    font-size: 22px;
}
footer>div>div>p{
    font-size: 22px;
    margin: 15px;
}
footer>div>p{
    color: #EEEEEE;
    font-size: 22px;
    margin: 15px 0px;
}
footer>div>div>p:hover{
    cursor: pointer;
    color: #8bd64e;
}
footer>div>p:hover{
    cursor: pointer;
    color: #8bd64e;
}
.uczymy{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.uczymy>h3{
    font-size: 70px;
    color: #1495ff;
    margin-bottom: 10px;
}
.uczymy>p{
    color: #EEEEEE;
    font-size: 22px;
}
.uczymy>p>span{
    color: #b3ff01;
}
.oficerowie{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.oficerowie>div{
    margin:80px 50px 30px 50px;
    position: relative;
    text-align: center;
}
.oficerowie>div>span{
    position: absolute;
    display: block;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    background-image: linear-gradient(to right, #2196F3 50%, #0b5577 50%);
    border: 2px solid #1495ff;
    border-radius: 50%;
}
.oficerowie>div>p{
    font-size: 30px;
    color: #EEEEEE;
}
.wspol{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.wspol>h3{
    text-align: right;
    font-size: 70px;
    color: #b3ff01;
    margin-bottom: 10px;
}
.moveBox{
    list-style: none;
    padding: 0;
    width: 100%;
    height: 45vh;
    margin: 0;
    display: flex;
    justify-content: right;
    position: relative;
    flex-wrap: wrap;
    text-align: right;
    margin-bottom: 50px;
}
.collage {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Odstęp między zdjęciami */
    max-width: 100vw; /* Maksymalna szerokość kolażu */
}

.photo-container {
    width: calc(20% - 10px); /* Szerokość kontenera, uwzględniając odstępy (3 zdjęcia w rzędzie) */
    height: auto; /* Ustalona wysokość dla wszystkich zdjęć */
    overflow: hidden; /* Ukrycie części zdjęcia po powiększeniu */
    position: relative;
}

.photo-container img {
    width: 100%;
    height: 100%; /* Dopasowanie do kontenera */
    object-fit: cover; /* Przycinanie obrazu, aby wypełnić kontener */
    transition: transform 0.3s ease-in-out; /* Dodanie przejścia */
}

.photo-container img:hover {
    transform: scale(1.1); /* Powiększenie zdjęcia */
}
.akc{
    font-size:120px;
    color: #b3ff01;
    margin: 100px;
}
.moveBox::before{
    content: "WSPÓŁPRACE";
    position: absolute;
    bottom: -10%;
    left: -10%;
    font-size: 15em;
    color: #b3b3b32a;
    font-weight: 900;
    z-index: -1;
}
.moveBox>li{
    color: #EEEEEE;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    text-align: right;
    font-size: calc(10px + 1vw); /* Rozmiar czcionki zależny od szerokości widoku */
}
.moveBox>li:hover{
    background-color: #b3b3b32a!important;
}
.szkolenia{
    padding: 50px 0px;
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.szkolenia>h3{
    text-align: center;
    display: inline-block;
    font-size: 50px;
    margin: 0px 50px;
    color: #b3ff01;
    width: 30%;
    padding: 20px;
    border: 2px solid #b3ff01;
}
.images-desc{
    width: 70%;
    margin: 0;
    text-align: center;
    padding: 0;
}
.images-desc>p{
    width: 100%;
    height: 100%;
    font-size: 80px;
    background-color: #8bd64e;
    font-weight: bold;
    color: #141414;
}
.images-desc>div{
    width: 100%;
    height: 200px;
    overflow-x: hidden;
}
.images-desc>div>img{
    width: 250px;
}
.projektyUn{
    padding: 50px 0px;
    width: 100vw;
    height: 60vh;
    text-align: center;
}
.pro-h3{
    text-align: center;
    display: inline-block;
    font-size: 50px;
    margin: 0px 50px;
    color: #b3ff01;
    letter-spacing: 5px;
}
.content-box{
    margin-top: 30px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center;
}
.content-box>button{
    width: 100px;
    height: 100px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}
.content-box>button>i{
    font-size: 80px;
    color: #1495ff;
}
.content-box>button>i:hover{
    color: #b3ff01;
}
.content-child{
    display: inline-block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    height: 100%;
}
.content-child>p{
    height: 100%;
    padding-top: 22%;
    color: #1495ff;
    font-size: 50px;
    display: none;
    font-weight: bold;
    margin: 0;
}
.content-child p.active {
    display: block;
}
.moreee{
    margin: 50px 10px;
    padding: 10px 30px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    color: #0C0C0C;
    background-color: #1495ff;
    border: 4px solid #1495ff;
    transition: transform .3s linear;
}
.moreee:hover{
    opacity: 70%;
}
.akc{
    position: relative;
}
.akc::before{
    content: 'MUNDURÓWKA W AKCJI';
    color: #f7f7f7;
    opacity: 20%;
    top: 10%;
    position: absolute;
    font-size: 120px
}
.modal {
    position: absolute;
    display: none; /* Ukryj modal domyślnie */
    position: fixed; /* Ustaw modal nad inną zawartością */
    z-index: 20; /* Ustaw z-index (poziom) modala */
    left: 0;
    top: 0;
    width: 100vw; /* Pełna szerokość */
    height: 100%; /* Pełna wysokość */
    overflow: auto; /* Włącz przewijanie, jeśli jest to konieczne */
    background-color: rgba(0,0,0,0.9); /* Czarny z przezroczystością */
}

/* Modal (zawartość) */
.modal-content {
    margin: 10% auto; /* 10% od góry i wyśrodkowane */
    padding: 20px;
    width: 80%; /* Szerokość modala */
}

/* Nagłówek modala */
.modal-content h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
.close{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
}
/* Przycisk zamykający modal */
.x {
    position: absolute;
    width: 40px;
    height: 2px;
    top: 50%;
    transform: rotate(45deg);
    background-color: #b3ff01;
    float: right;
    font-size: 40px;
    font-weight: bold;
}
.x::after{
    content: '';
    width: 40px;
    height: 2px;
    transform: rotate(-90deg);
    background-color: #b3ff01;
    float: right;
    font-size: 40px;
    font-weight: bold;
}
